@page
@model ContosoPizza.Pages.Drinks.EditModel
@{
    ViewData["Title"] = "Edit Drink";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="row shadow">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Drinks.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Drinks.DrinkName" class="control-label"></label>
                <input asp-for="Drinks.DrinkName" class="form-control" />
                <span asp-validation-for="Drinks.DrinkName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Drinks.Price" class="control-label"></label>
                <input asp-for="Drinks.Price" class="form-control" />
                <span asp-validation-for="Drinks.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
